In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv('yayes_dfs.csv')
df['timestp'] = pd.to_datetime(df['timestp'])
artist_list = df['cm_artist'].unique()

In [120]:
%%time
artists_patched = []

for i in artist_list:
    
    temp = df[df['cm_artist'] == i].copy()
    temp['followers_diff'] = temp['followers'].diff()
    artists_patched.append(yayes_og(temp.copy()))

above_histories_patched = pd.concat(artists_patched)

CPU times: user 21.3 s, sys: 32 ms, total: 21.3 s
Wall time: 21.3 s

In [121]:
%%time
df_yayes = []
for i in artist_list:
    temp = df[df['cm_artist'] == i].copy()
    temp['followers'] = yayes(temp['followers'])
    df_yayes.append(temp)

df2 = pd.concat(df_yayes)

CPU times: user 5.26 s, sys: 4 ms, total: 5.26 s
Wall time: 5.25 s

In [122]:
above_histories_patched.sort_values(['cm_artist', 'timestp'],inplace=True)
above_histories_patched.reset_index(drop=True, inplace=True)
df2.sort_values(['cm_artist', 'timestp'],inplace=True)
df2.reset_index(drop=True, inplace=True)

In [123]:
comp = above_histories_patched[['cm_artist','timestp','followers']].copy()
comp.columns = ['cm_artist','timestp','followers_old']
comp['followers_new'] = df2['followers']

In [124]:
bad = comp[comp['followers_old'] != comp['followers_new']]
len(bad)

4372

In [118]:
np.sum(np.abs(bad['followers_old']-bad['followers_new']) < .005) == len(bad)

True

In [102]:
b = above_histories_patched[above_histories_patched['cm_artist']==4939]

In [107]:
df[df['cm_artist'] == 4939][16:25]

,timestp,cm_artist,timestp_pop,popularity_pop,label,popularity,followers,timestp_poa
523,2018-07-17,4939,2018-12-23,39,1,18.0,10955,2018-12-16
524,2018-07-18,4939,2018-12-23,39,1,18.0,10955,2018-12-16
525,2018-07-19,4939,2018-12-23,39,1,18.0,10885,2018-12-16
526,2018-07-20,4939,2018-12-23,39,1,18.0,10886,2018-12-16
527,2018-07-21,4939,2018-12-23,39,1,18.0,10888,2018-12-16
528,2018-07-22,4939,2018-12-23,39,1,18.0,10889,2018-12-16
529,2018-07-23,4939,2018-12-23,39,1,18.0,10892,2018-12-16
530,2018-07-24,4939,2018-12-23,39,1,18.0,10892,2018-12-16
531,2018-07-25,4939,2018-12-23,39,1,18.0,10894,2018-12-16

In [109]:
b[16:50]

,timestp,cm_artist,timestp_pop,popularity_pop,label,popularity,followers,timestp_poa,followers_diff
523,2018-07-17,4939,2018-12-23,39,1,18.0,10955.0,2018-12-16,0.0
524,2018-07-18,4939,2018-12-23,39,1,18.0,10955.0,2018-12-16,0.0
525,2018-07-19,4939,2018-12-23,39,1,18.0,10885.0,2018-12-16,-70.0
526,2018-07-20,4939,2018-12-23,39,1,18.0,10886.0,2018-12-16,1.0
527,2018-07-21,4939,2018-12-23,39,1,18.0,10888.0,2018-12-16,2.0
528,2018-07-22,4939,2018-12-23,39,1,18.0,10889.0,2018-12-16,1.0
529,2018-07-23,4939,2018-12-23,39,1,18.0,10892.0,2018-12-16,3.0
530,2018-07-24,4939,2018-12-23,39,1,18.0,10892.0,2018-12-16,0.0
531,2018-07-25,4939,2018-12-23,39,1,18.0,10894.0,2018-12-16,2.0
532,2018-07-26,4939,2018-12-23,39,1,18.0,10897.0,2018-12-16,3.0
533,2018-07-27,4939,2018-12-23,39,1,18.0,10897.0,2018-12-16,0.0
534,2018-07-28,4939,2018-12-23,39,1,18.0,10902.0,2018-12-16,5.0
535,2018-07-29,4939,2018-12-23,39,1,18.0,10902.0,2018-12-16,0.0
536,2018-07-30,4939,2018-12-23,39,1,18.0,10902.5,2018-12-16,0.5
537,2018-07-31,4939,2018-12-23,39,1,18.0,10903.0,2018-12-16,0.5
538,2018-08-01,4939,2018-12-23,39,1,18.0,10904.0,2018-12-16,1.0
539,2018-08-02,4939,2018-12-23,39,1,18.0,10905.0,2018-12-16,1.0
540,2018-08-03,4939,2018-12-23,39,1,18.0,10904.0,2018-12-16,-1.0
541,2018-08-04,4939,2018-12-23,39,1,18.0,10902.0,2018-12-16,-2.0
542,2018-08-05,4939,2018-12-23,39,1,18.0,10905.0,2018-12-16,3.0
543,2018-08-06,4939,2018-12-23,39,1,18.0,10905.0,2018-12-16,0.0
544,2018-08-07,4939,2018-12-23,39,1,18.0,10906.0,2018-12-16,1.0
545,2018-08-08,4939,2018-12-23,39,1,18.0,10906.0,2018-12-16,0.0
546,2018-08-09,4939,2018-12-23,39,1,18.0,10904.0,2018-12-16,-2.0
547,2018-08-10,4939,2018-12-23,39,1,18.0,10902.0,2018-12-16,-2.0
548,2018-08-11,4939,2018-12-23,39,1,18.0,10905.0,2018-12-16,3.0
549,2018-08-12,4939,2018-12-23,39,1,19.0,10906.0,2018-12-16,1.0
550,2018-08-13,4939,2018-12-23,39,1,19.0,10907.0,2018-12-16,1.0
551,2018-08-14,4939,2018-12-23,39,1,19.0,10907.0,2018-12-16,0.0
552,2018-08-15,4939,2018-12-23,39,1,19.0,10907.0,2018-12-16,0.0
553,2018-08-16,4939,2018-12-23,39,1,19.0,10914.0,2018-12-16,7.0
554,2018-08-17,4939,2018-12-23,39,1,19.0,10914.0,2018-12-16,0.0
555,2018-08-18,4939,2018-12-23,39,1,19.0,10914.0,2018-12-16,0.0
556,2018-08-19,4939,2018-12-23,39,1,19.0,10914.0,2018-12-16,0.0

In [105]:
a2031 = df[df['cm_artist']==4939]
a2031['yayes'] = yayes(a2031['followers'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [106]:
a2031[16:25]

,timestp,cm_artist,timestp_pop,popularity_pop,label,popularity,followers,timestp_poa,yayes
523,2018-07-17,4939,2018-12-23,39,1,18.0,10955,2018-12-16,10955.000000
524,2018-07-18,4939,2018-12-23,39,1,18.0,10955,2018-12-16,10955.000000
525,2018-07-19,4939,2018-12-23,39,1,18.0,10885,2018-12-16,10954.842773
526,2018-07-20,4939,2018-12-23,39,1,18.0,10886,2018-12-16,10954.686523
527,2018-07-21,4939,2018-12-23,39,1,18.0,10888,2018-12-16,10954.529297
528,2018-07-22,4939,2018-12-23,39,1,18.0,10889,2018-12-16,10954.372070
529,2018-07-23,4939,2018-12-23,39,1,18.0,10892,2018-12-16,10954.215820
530,2018-07-24,4939,2018-12-23,39,1,18.0,10892,2018-12-16,10954.058594
531,2018-07-25,4939,2018-12-23,39,1,18.0,10894,2018-12-16,10953.902344

In [93]:
b[126:140]

,timestp,cm_artist,timestp_pop,popularity_pop,label,popularity,followers,timestp_poa,followers_diff
464,2017-04-09,3712,2017-05-28,35,1,29.0,3667.000000,2017-05-21,14.000000
465,2017-04-10,3712,2017-05-28,35,1,29.0,3667.000000,2017-05-21,0.000000
466,2017-04-11,3712,2017-05-28,35,1,29.0,3681.000000,2017-05-21,14.000000
467,2017-04-12,3712,2017-05-28,35,1,30.0,3696.333333,2017-05-21,15.333333
468,2017-04-13,3712,2017-05-28,35,1,30.0,3711.666667,2017-05-21,15.333333
469,2017-04-14,3712,2017-05-28,35,1,30.0,3727.000000,2017-05-21,15.333333
470,2017-04-15,3712,2017-05-28,35,1,30.0,3742.333333,2017-05-21,15.333333
471,2017-04-16,3712,2017-05-28,35,1,30.0,3757.666667,2017-05-21,15.333333
472,2017-04-17,3712,2017-05-28,35,1,30.0,3773.000000,2017-05-21,15.333333
473,2017-04-18,3712,2017-05-28,35,1,30.0,3775.000000,2017-05-21,2.000000
474,2017-04-19,3712,2017-05-28,35,1,30.0,3775.000000,2017-05-21,0.000000
475,2017-04-20,3712,2017-05-28,35,1,30.0,3805.000000,2017-05-21,30.000000
476,2017-04-21,3712,2017-05-28,35,1,30.0,3819.000000,2017-05-21,14.000000
477,2017-04-22,3712,2017-05-28,35,1,30.0,3833.000000,2017-05-21,14.000000

In [77]:
a2031['yayes'][45:55]

45    2227.0
46    2235.0
47    2237.0
48    2239.0
49    2239.0
50    2245.0
51    2245.0
52    2245.0
53    2277.0
54    2289.0
Name: yayes, dtype: float32

In [78]:
versions = pd.DataFrame()

In [54]:
a = df[df['cm_artist'] == artists[500]].copy()
original_followers = a['followers'].values
patched_followers = yayes_og(a)['followers'].values
yayes_followers = yayes(a['followers'])

NameError: name 'artists' is not defined

In [80]:
versions['og'] = original_followers
versions['old'] = patched_followers
versions['new'] = patched_followers

## LOOK AT CASE WHERE FOLLOWERS BEGINS ON DECREASE THEN INCREASE

In [125]:
pd.Series([1,2]).astype(int)

0    1
1    2
dtype: int64

In [119]:
def yayes(col, X = .15, last_day = False):
    
    #Don't need?
    if type(col) == pd.Series:
        col = col.values
    col = col.astype('float32')
    differences = np.diff(col)
    max_i = len(differences)    

    for i in range(len(col)-2):
        
        current_diff = differences[i]
        next_diff = differences[i+1]
        
        if current_diff >= 0 and next_diff < 0:
            
            j = i + 2
            
            max_diff_threshold = next_diff
            
            while j < max_i and (0 <= differences[j] <= abs(max_diff_threshold * X)):
                
                j += 1
                
            if j < max_i and differences[j] > (.5*max_diff_threshold) and differences[j] > 0:
                fill_value = col[i+1]
                increase = (col[j+1] - col[i+1]) / (j - i)
                
                k, x = i + 2, 1
                
                while k <= j:
                    col[k] = fill_value + (increase * x)
                    k,x = k+1, x+1
                    
                differences = np.diff(col)
    return col

In [5]:
def yayes_og(artist_df, last_day=False):
    
    '''
    This function is used to impute missing values and treat data errors.  It's primary purpose is to 
    correct false dips and spikes in an artist's follower count over time.
    
    artist_df: a pandas dataframe containing all of the data for one artist
    '''
    
    #Get list of indices to iterate over
    indices = artist_df['followers_diff'].index.values
    
    for i in range(1, len(indices) - 1):
        
        #pandas series containing the differences in follower counts for adjacent entries (e.g. today's count - yesterday's count)
        followers_diff = artist_df['followers_diff']
        followers = artist_df['followers']
        
        f = followers_diff[indices[i]]
        s = followers_diff[indices[i+1]]
        

        if f >= 0 and s < 0:
            j = i+2
            neg = False
            
            while j < len(indices) and followers_diff[indices[j]] <= abs(.15 * s):
                
                if followers_diff[indices[j]] < 0:
                    neg=True
                    break
                    
                j += 1
            
            if neg: continue
            
            elif j >= len(indices):
                continue
                
            elif abs(.95*s) <= followers_diff[indices[j]] <= abs(1.05*s):
                artist_df = lift_data(artist_df, i, j, indices)
            
            elif (followers_diff[indices[j]] > abs(1.05*s)) or (.5*s < followers_diff[indices[j]] < abs(.95*s)):
                artist_df = lift_data(artist_df, i, j, indices)
            
            else:
                continue
    
    if last_day:
        last_foll = artist_df.loc[indices[len(artist_df)-1],'followers_diff']
        last_diff = artist_df.loc[indices[len(artist_df)-1], 'followers'] 
        second_foll = artist_df.loc[indices[len(artist_df)-2], 'followers']
        
        if -artist_df.loc[indices[len(artist_df)-1], 'followers_diff'] > .99*artist_df.loc[indices[len(artist_df)-2], 'followers']:
            artist_df.loc[indices[len(artist_df)-1], 'followers'] = artist_df.loc[indices[len(artist_df)-2], 'followers']
            artist_df.loc[indices[len(artist_df)-1], 'followers_diff'] = 0

    return artist_df
            
def lift_data(artist_df, i, j, indices):
    
    fill_val = artist_df.loc[indices[i],'followers']
            
    time_delta = (artist_df.loc[indices[j],'timestp'] - artist_df.loc[indices[i],'timestp']).days
    followers_delta = artist_df.loc[indices[j], 'followers'] - artist_df.loc[indices[i], 'followers']

    increase = followers_delta/time_delta
    
    i, x = i+1, 1
    
    while i < j:
        artist_df.loc[indices[i], 'followers'] = fill_val + x*increase
        x, i = x + 1, i + 1
    
    artist_df['followers_diff'] = artist_df['followers'].diff()
    
    return artist_df

In [122]:
(df.iloc[1]['timestp'] - df.iloc[0]['timestp']).days

1